.cardArticulo{
    width: 300px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.cardArticuloImagen{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.cardArticuloCurpo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.cardTitulo{
    font-size: 1.5em;
    color: #9f702d;
    margin: 0;
}
.cardDescripcion{
    font-size: 1em;
    color: #bda37d;
}
.contenedoPrecio{
    display: flex;
    justify-content: right;
position: relative;
}
.cardPrecio{
    display: flex;
    color: #9f702d;
    font-weight: bold;
    z-index: 1000;
    
}

